<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/tailwindcss/output.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/client.styles.css" asp-append-version="true" />
</head>
<body class="h-screen w-screen flex flex-none flex-col">
    <header class="h-16 bg-dark">

    </header>

    <div class="flex-grow">
        @RenderBody()
    </div>

    <footer class="h-12 bg-dark">

    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="_framework/blazor.server.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>