@page "/user/display/{Id}"
@using blazor.Api

@attribute [Authorize]

@inject IUserClient _UserClient

<div class="w-full h-full flex flex-col flex-none bg-default">
    @if (User != null) {
        <div class="flex flex-grow items-center justify-center">
            <div class="w-1/2">
                <UserProfile User="@User" Projects="@Projects"/>
            </div>
        </div>
    } else {
        <div class="flex flex-grow items-center justify-center text-6xl text-default">
            Could not find requested user.
        </div>
    }

</div>

@code{

    [Parameter]
    public string Id { get; set; }

    private UserDTO? User { get; set; }
    private IEnumerable<ProjectDTO> Projects { get; set; }

    protected override async Task OnInitializedAsync() {
        User = await _UserClient.GetUser(Id);
        Projects = await _UserClient.GetUserProjects(Id);
    }


}