@page "/AuthenticationTest"
@using blazor.Api
@attribute [Authorize]
@inject IWebApi webApi

<h3>AuthenticationTest</h3>
<p>@Hi</p>

@code {

    public string? Hi { get; set; }

    protected override async Task OnInitializedAsync() {
        Hi = await webApi.Hello();
    }

}