<div class="flex flex-col w-full h-full space-y-0.5 child:h-1/6">
    <input class="rounded-md bg-dark text-default pl-1" type="text" placeholder="Name"/>
    <input class="rounded-md bg-dark text-default pl-1" type="password" placeholder="Password"/>
    <input class="rounded-md bg-accent text-emphasis" type="submit"/>
</div>

@code {

}
