<div class="w-full bg-dark rounded-md p-2 flex flex-none flex-col">
    <div class="h-10 items-center grid grid-flow-col justify-between">
        <UserDisplay User="@User"/>

        <button class="justify-self-end" @onclick="@ToggleExpanded">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke:currentColor;">
                <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
        </button>
    </div>

    @if (IsExpanded) {
        <div class="flex flex-col">
            <div class="flex flex-col ml-0.5 mt-0.5">
                @if (Projects?.Any() is true) {
                    <h2 class="text-default truncate">Projects</h2>
                    <div class="flex flex-col">
                        @*TODO: Fetch projects from API*@
                        @*@foreach(var project in User.Projects) {
                        <client.Components.Projects.Display Project="@project" />
                    }*@
                    </div>
                } else {
                    <h2 class="text-default truncate">No projects</h2>
                }
            </div>
        </div>
    }
</div>

@code {

    public bool IsExpanded { get; set; }

    public void ToggleExpanded() {
        IsExpanded = !IsExpanded;
        Console.WriteLine(IsExpanded);
    }

    [EditorRequired]
    [Parameter]
    public UserDTO User { get; set; } = SampleData.User;

    [Parameter]
    public IEnumerable<ProjectDTO>? Projects { get; set; } = null;

}