<div class="w-full flex flex-none flex-col">
    <div class="h-10 items-center grid grid-flow-col justify-between box-content p-2 only:rounded-md rounded-t-md bg-dark">
        <UserDisplay User="@User"/>

        <button class="justify-self-end" @onclick="@ToggleExpanded">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke:currentColor;">
                <polyline points="6 9 12 15 18 9"></polyline>
            </svg>
        </button>
    </div>

    @if (IsExpanded) {
        <div class="flex flex-col flex-none bg-subtle p-2 rounded-b-md">
            <div class="flex flex-col ml-0.5 mt-0.5">
                @if (Projects?.Any() is true) {
                    <h2 class="text-default truncate font-medium text-2xl">Projects</h2>
                    <div class="flex flex-col mt-1">
                        @foreach (var project in Projects) {
                            <ProjectDisplay Project="@project"/>
                        }
                    </div>
                } else {
                    <h2 class="text-default truncate font-medium text-lg">No projects</h2>
                }
            </div>
        </div>
    }
</div>

@code {

    public bool IsExpanded { get; set; }

    public void ToggleExpanded() {
        IsExpanded = !IsExpanded;
        Console.WriteLine(IsExpanded);
    }

    [EditorRequired]
    [Parameter]
    public UserDTO User { get; set; } = SampleData.User;

    [Parameter]
    public IEnumerable<ProjectDTO>? Projects { get; set; } = null;

}