tbody tr {
    border-color: var(--color-border-subtle);
    border-bottom: 1px;
    border-style: solid;

    padding: 12px 6px;
}

tbody tr:last-of-type {
    border-color: var(--color-border-muted);
    border-bottom: 2px;
    border-style: solid;
}