@page "/projects/create"

<div class="w-full h-full flex flex-col flex-none bg-default">
    <div class="flex flex-none flex-col h-36 text-emphasis items-center justify-center">
        <h1 class="text-6xl">Welcome</h1>
        <p class="text-default mt-2">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

    <div class="flex flex-grow flex-col items-center">
        <div class="w-1/2 h-4/6 flex flex-none items-center flex-col">
            <ProjectCreate/>
        </div>
    </div>
</div>